textarea {
   resize: none;
}

.messageBoard {
    height: 400px;
    width: 100%;
    color:blue;
    word-wrap: break-word;
    overflow-y: auto;
    border: 1px solid black;
}

#textInput {
    width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}